<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <!-- Mobile Devices Support @begin -->
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control" />
    <meta content="no-cache" http-equiv="pragma" />
    <meta content="0" http-equiv="expires" />
    <meta content="telephone=no,address=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=yes" />
    <!-- Mobile Devices Support @end -->
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <title>公司简介 - 御舍</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="fav.ico">
    <link rel="stylesheet" href="./content/css/base.css">
    <link rel="stylesheet" href="./content/css/style.css">
    <!-- <link rel="stylesheet" href="./content/css/reset.css"> -->
    <link rel="stylesheet" href="./content/css/media.css">
    <script type="text/javascript" src="./content/script/index.js"></script>
    <script type="text/javascript" src="./content/script/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="./content/script/masonry.pkgd.min.js"></script>
    <!-- <script type="text/javascript" src="http://www.hkdomani.com/public/wap/js/rem.js"></script> -->
</head>

<body>
    <div id="Wrapper" v-cloak>
        <top-header></top-header>
        <div id="introduction_container" class="pc_block">
            <div class="main_bone_container">
                <!-- 公司，创始人（李总），团队 -->
                <div class="page-block">
                    <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title grid_reveal" data-av-animation="self_slide_up">御舍简介</div>
                        <div class="text grid_reveal ani_delay_2" data-av-animation="self_slide_up" data-index="5">
                            <div class="cn" style="margin-top: 10px;">
                                <p>御舍（上海）建设工程有限公司由多位资深设计团队组建, 以工装，软装产业链为两翼融合发展，专注于艺术空间和环境设计，致力於前沿的空间设计理念、细妙的施工工艺、优质的後续服务，为客户创造出舒适的生活与空间新境。</p>
                                <p>十年来，御舍装饰集团成功为国内外客户提供空间设计服务，包括五星级酒店、精品酒店、样板房、会所空间、餐影空间、高端品牌旗舰店、豪华私人住宅等，御舍以独特的创意及对空间艺术的追求，结合对高品质生活艺术的理解,
                                </p>
                                <p>对其所参与的每一个项目都力求达到一个更新的高度。</p>
                                <p style="margin-top:7px;">公司官网：www.yushesh.com</p>
                                <p>公众号：御舍设计</p>
                                <p>地址：上海市普陀区同普路1225号16号4楼</p>
                            </div>
                        </div>
                    </div>
                    <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title sub_title grid_reveal ani_delay_1" data-av-animation="self_slide_up" data-index="1">企业文化</div>
                        <div class="text grid_reveal ani_delay_2" data-av-animation="self_slide_up" data-index="5">
                            <div class="cn" style="margin-top: 10px;">
                                <p>御舍设计成立伊始，就立志打造高端、别树一格的设计风格，以独特的创意及对空间艺术的追求，结合对高品质生活艺术的理解,对其所参与的每一个项目都力求达到一个更新的高度。</p>
                            </div>
                        </div>
                    </div>
                    <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title sub_title grid_reveal ani_delay_1" data-av-animation="self_slide_up" data-index="1">企业使命</div>
                        <div class="text grid_reveal ani_delay_2" data-av-animation="self_slide_up" data-index="5">
                            <div class="cn" style="margin-top: 10px;">
                                <p>通过艺术与科技的结合，</p>
                                <p>为行业人才赋能，</p>
                                <p>让客户、合作伙伴与企业成员的生活更美好。</p>
                            </div>
                        </div>
                    </div>
                    <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title sub_title grid_reveal ani_delay_1" data-av-animation="self_slide_up" data-index="1">企业愿景</div>
                        <div class="text grid_reveal ani_delay_2" data-av-animation="self_slide_up" data-index="5">
                            <div class="cn" style="margin-top: 10px;">
                                <p>近期：成为中国别墅设计领跑者</p>
                                <p>远期：成为中国家居装饰领域内受人尊重的领导者</p>
                            </div>
                        </div>
                    </div>
                    <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title sub_title grid_reveal ani_delay_1" data-av-animation="self_slide_up" data-index="1">经营理念</div>
                        <div class="text grid_reveal ani_delay_2" data-av-animation="self_slide_up" data-index="5">
                            <div class="cn" style="margin-top: 10px;">
                                <p>客户承诺：上海御舍，使命必达；</p>
                                <p>服务理念：终生只做一件事，为别墅客户缔造品质生活；</p>
                                <p>团队精神：连在一起的心是不可战胜的；</p>
                                <p>学习理念：没有什么是不能改变的，创新是最高境界；</p>
                                <p>管理方针：有情的领导、无情的制度、绝情的执行；</p>
                                <p>企业作风：不唯上、不唯书、不唯经验、只唯理、只唯实；</p>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:15px;" class="grid_reveal ani_delay_3" data-av-animation="self_slide_up">
                        <div class="grid">
                            <template v-for="k of 4">
                                <div class="grid-item grid-item--width2 grid_reveal" data-av-animation="self_slide_up">
                                    <img :src="'./content/images/company-'+k+'.jpg'" alt="">
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="page-block">
                    <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title grid_reveal" data-av-animation="self_slide_up">李宏升 Tommy Li</div>
                        <div class="text grid_reveal ani_delay_2" data-av-animation="self_slide_up" data-index="5">
                            <div class="cn" style="margin-top: 10px;">
                                <p>DAY御舍（上海）设计有限公司CEO 设计总监</p>
                                <p>毕业于台北文化大学台湾建筑环境规划设计硕士。</p>
                                <p>主张用艺术复兴人文美学生活，他擅长发挥超越时空维度，发起艺术与空间的对话，突破 常规其设计的艺术空间是对过去和现代的文化生活进行的艺术语言重新注释和解读。与此同时，过去的几十年里他还专注于良好的艺术规划和创造情感空间，以挑战和激励的方式审视艺术与设计之间的对话，传达人文与艺术毕业于台北文化大学台湾建筑环境规划设计硕士。完美的融合与共生。</p>
                                <p>用艺术复兴人文美学生活，他擅长发挥超越时空维度，发起艺术与空间的对话，突破 常规其设计的艺术空间是对过去和现代的文化生活进行的艺术语言重新注释和解读。与此同时，过去的几十年里他还专注于良好的艺术规划和创造情感空间，以挑战和激励的方式审视艺术与设计之间的对话，传达人文与艺术完美的融合与共生。</p>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:15px;" class="grid_reveal ani_delay_3" data-av-animation="self_slide_up">
                        <div class="grid">
                            <div class="grid-item grid-item--width2 grid_reveal" data-av-animation="self_slide_up">
                                <img src="./content/images/Tommy-Li-1.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--width2 grid_reveal" data-av-animation="self_slide_up">
                                <img src="./content/images/Tommy-Li-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-block">
                    <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title grid_reveal" data-av-animation="self_slide_up">设计团队</div>
                    </div>
                    <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="grid grid_reveal ani_delay_3" data-av-animation="self_slide_up">
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">谢丹 dita 商务总监</div>
                                <img src="./content/images/team-Tina.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">李佩榆 vena 商务总监</div>
                                <img src="./content/images/team-vena.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">陈婷婷 Coral 软装设计总监</div>
                                <img src="./content/images/team-Coral.png" alt="">
                            </div>
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">李佩馨 Amy 软装设计师</div>
                                <img src="./content/images/team-Amy.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">王茜 Lacey 软装设计师</div>
                                <img src="./content/images/team-Lacey.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">赵晟 设计总监</div>
                                <img src="./content/images/team-zhao.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">温金鹏 Wen 室内设计师</div>
                                <img src="./content/images/team-Wen.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1"></div>
                                <img src="./content/images/team-other.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-block">
                    <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title grid_reveal" data-av-animation="self_slide_up">奖项</div>
                        <div class="grid">
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                                    <div class="title sub_title grid_reveal ani_delay_1" data-av-animation="self_slide_up" data-index="1">2015年</div>
                                    <div class="text grid_reveal ani_delay_2" data-av-animation="self_slide_up" data-index="5">
                                        <div class="cn" style="margin-top: 10px;">
                                            <p>《“金创意奖”地产售楼类—年度最佳设计奖》</p>
                                            <p>《“金创意奖”样板房类—年度最佳设计奖》</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                                    <div class="title sub_title grid_reveal ani_delay_1" data-av-animation="self_slide_up" data-index="1">2016年</div>
                                    <div class="text grid_reveal ani_delay_2" data-av-animation="self_slide_up" data-index="5">
                                        <div class="cn" style="margin-top: 10px;">
                                            <p>《IDEA-TOPS艾特奖—最佳陈设艺术设计》</p>
                                            <p>《IDEA-TOPS艾特奖—最佳办公室设计》</p>
                                            <p>《设博会华鼎奖》</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                                    <div class="title sub_title grid_reveal ani_delay_1" data-av-animation="self_slide_up" data-index="1">2017年</div>
                                    <div class="text grid_reveal ani_delay_2" data-av-animation="self_slide_up" data-index="5">
                                        <div class="cn" style="margin-top: 10px;">
                                            <p>《IDS国际设计先锋榜软装陈设奖》</p>
                                            <p>《金创意奖-最具品牌价值设计机构奖》</p>
                                            <p>《IDEA-TOPS艾特奖—别墅设计银奖》</p>
                                            <p>《IDEA-TOPS艾特奖—样板间设计银奖》</p>
                                            <p>《TDA最佳住宅公寓设计大奖》</p>
                                            <p>《BEST100中国最佳设计100强 》</p>
                                            <p>《SIDA新加坡室内设计大赛优秀奖》</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item grid-item--width4 grid_reveal" data-av-animation="self_slide_up">
                                <div class="page_text_container grid_reveal" data-av-animation="self_slide_up" data-index="1">
                                    <div class="title sub_title grid_reveal ani_delay_1" data-av-animation="self_slide_up" data-index="1">2018年</div>
                                    <div class="text grid_reveal ani_delay_2" data-av-animation="self_slide_up" data-index="5">
                                        <div class="cn" style="margin-top: 10px;">
                                            <p>《CBDA2018年度软装设计影响力企业》</p>
                                            <p>《法国双面神设计大奖》</p>
                                            <p>《亚太桃鼎奖设计大奖》</p>
                                            <p>《IDS国际设计先锋榜》</p>
                                            <p>《华创奖》</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:15px;" class="grid_reveal ani_delay_3" data-av-animation="self_slide_up">
                        <div class="grid">
                            <div class="grid-item grid-item--width2 grid_reveal" data-av-animation="self_slide_up">
                                <img src="./content/images/prize-1.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--width2 grid_reveal" data-av-animation="self_slide_up">
                                <img src="./content/images/prize-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="introduction_container_mobile" class="mobile_main_page_body mobile_block">
            <div class="mobile_main_body_container">
                <div class="page-block">
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title">御舍简介</div>
                        <div class="text" style="margin-top:.53rem;">
                            <div class="deep_gray grid_reveal" data-av-animation="self_slide_up" style="margin-top:10px;">
                                <p>御舍（上海）建设工程有限公司由多位资深设计团队组建, 以工装，软装产业链为两翼融合发展，专注于艺术空间和环境设计，致力於前沿的空间设计理念、细妙的施工工艺、优质的後续服务，为客户创造出舒适的生活与空间新境。</p>
                                <p>十年来，御舍装饰集团成功为国内外客户提供空间设计服务，包括五星级酒店、精品酒店、样板房、会所空间、餐影空间、高端品牌旗舰店、豪华私人住宅等，御舍以独特的创意及对空间艺术的追求，结合对高品质生活艺术的理解,
                                </p>
                                <p>对其所参与的每一个项目都力求达到一个更新的高度。</p>
                                <p style="margin-top:7px;">公司官网：www.yushesh.com</p>
                                <p>公众号：御舍设计</p>
                                <p>地址：上海市普陀区同普路1225号16号4楼</p>
                            </div>
                        </div>
                    </div>
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="2">
                        <div class="title sub_title grid_reveal" data-av-animation="self_slide_up">企业文化</div>
                        <div class="text" style="margin-top:.53rem;">
                            <div class="deep_gray grid_reveal" data-av-animation="self_slide_up" style="margin-top:10px;">
                                <p>御舍设计成立伊始，就立志打造高端、别树一格的设计风格，以独特的创意及对空间艺术的追求，结合对高品质生活艺术的理解,对其所参与的每一个项目都力求达到一个更新的高度。</p>
                            </div>
                        </div>
                    </div>
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="3">
                        <div class="title sub_title grid_reveal" data-av-animation="self_slide_up">企业使命</div>
                        <div class="text" style="margin-top:.53rem;">
                            <div class="deep_gray grid_reveal" data-av-animation="self_slide_up" style="margin-top:10px;">
                                <p>通过艺术与科技的结合，</p>
                                <p>为行业人才赋能，</p>
                                <p>让客户、合作伙伴与企业成员的生活更美好。</p>
                            </div>
                        </div>
                    </div>
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="4">
                        <div class="title sub_title grid_reveal" data-av-animation="self_slide_up">企业愿景</div>
                        <div class="text" style="margin-top:.53rem;">
                            <div class="deep_gray grid_reveal" data-av-animation="self_slide_up" style="margin-top:10px;">
                                <p>近期：成为中国别墅设计领跑者</p>
                                <p>远期：成为中国家居装饰领域内受人尊重的领导者</p>
                            </div>
                        </div>
                    </div>
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="5">
                        <div class="title sub_title grid_reveal" data-av-animation="self_slide_up">经营理念</div>
                        <div class="text" style="margin-top:.53rem;">
                            <div class="deep_gray grid_reveal" data-av-animation="self_slide_up" style="margin-top:10px;">
                                <p>客户承诺：上海御舍，使命必达；</p>
                                <p>服务理念：终生只做一件事，为别墅客户缔造品质生活；</p>
                                <p>团队精神：连在一起的心是不可战胜的；</p>
                                <p>学习理念：没有什么是不能改变的，创新是最高境界；</p>
                                <p>管理方针：有情的领导、无情的制度、绝情的执行；</p>
                                <p>企业作风：不唯上、不唯书、不唯经验、只唯理、只唯实；</p>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:15px;" class="grid_reveal ani_delay_3" data-av-animation="self_slide_up">
                        <div class="grid-full">
                            <template v-for="k of 4">
                                <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                    <img :src="'./content/images/company-'+k+'.jpg'" alt="">
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="page-block">
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title">李宏升 Tommy Li</div>
                        <div class="text" style="margin-top:.53rem;">
                            <div class="deep_gray grid_reveal" data-av-animation="self_slide_up" style="margin-top:10px;">
                                <p>DAY御舍（上海）设计有限公司CEO 设计总监</p>
                                <p>毕业于台北文化大学台湾建筑环境规划设计硕士。</p>
                                <p>主张用艺术复兴人文美学生活，他擅长发挥超越时空维度，发起艺术与空间的对话，突破 常规其设计的艺术空间是对过去和现代的文化生活进行的艺术语言重新注释和解读。与此同时，过去的几十年里他还专注于良好的艺术规划和创造情感空间，以挑战和激励的方式审视艺术与设计之间的对话，传达人文与艺术毕业于台北文化大学台湾建筑环境规划设计硕士。完美的融合与共生。</p>
                                <p>用艺术复兴人文美学生活，他擅长发挥超越时空维度，发起艺术与空间的对话，突破 常规其设计的艺术空间是对过去和现代的文化生活进行的艺术语言重新注释和解读。与此同时，过去的几十年里他还专注于良好的艺术规划和创造情感空间，以挑战和激励的方式审视艺术与设计之间的对话，传达人文与艺术完美的融合与共生。</p>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:15px;" class="grid_reveal ani_delay_3" data-av-animation="self_slide_up">
                        <div class="grid-full">
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <img src="./content/images/Tommy-Li-1.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <img src="./content/images/Tommy-Li-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-block">
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title">设计团队</div>
                    </div>
                    <div style="margin-top:15px;" class="grid_reveal ani_delay_3" data-av-animation="self_slide_up">
                        <div class="grid-full mobile-team-list">
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">谢丹 dita 商务总监</div>
                                <img src="./content/images/team-Tina.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">李佩榆 vena 商务总监</div>
                                <img src="./content/images/team-vena.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">陈婷婷 Coral 软装设计总监</div>
                                <img src="./content/images/team-Coral.png" alt="">
                            </div>
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">李佩馨 Amy 软装设计师</div>
                                <img src="./content/images/team-Amy.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">王茜 Lacey 软装设计师</div>
                                <img src="./content/images/team-Lacey.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">赵晟 设计总监</div>
                                <img src="./content/images/team-zhao.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1">温金鹏 Wen 室内设计师</div>
                                <img src="./content/images/team-Wen.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <div class="title sub_title ani_delay_1"></div>
                                <img src="./content/images/team-other.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-block">
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="1">
                        <div class="title">奖项</div>
                    </div>
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="5">
                        <div class="title sub_title grid_reveal" data-av-animation="self_slide_up">2015年</div>
                        <div class="text" style="margin-top:.53rem;">
                            <div class="deep_gray grid_reveal" data-av-animation="self_slide_up" style="margin-top:10px;">
                                <p>《“金创意奖”地产售楼类—年度最佳设计奖》</p>
                                <p>《“金创意奖”样板房类—年度最佳设计奖》</p>
                            </div>
                        </div>
                    </div>
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="5">
                        <div class="title sub_title grid_reveal" data-av-animation="self_slide_up">2016年</div>
                        <div class="text" style="margin-top:.53rem;">
                            <div class="deep_gray grid_reveal" data-av-animation="self_slide_up" style="margin-top:10px;">
                                <p>《IDEA-TOPS艾特奖—最佳陈设艺术设计》</p>
                                <p>《IDEA-TOPS艾特奖—最佳办公室设计》</p>
                                <p>《设博会华鼎奖》</p>
                            </div>
                        </div>
                    </div>
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="5">
                        <div class="title sub_title grid_reveal" data-av-animation="self_slide_up">2017年</div>
                        <div class="text" style="margin-top:.53rem;">
                            <div class="deep_gray grid_reveal" data-av-animation="self_slide_up" style="margin-top:10px;">
                                <p>《IDS国际设计先锋榜软装陈设奖》</p>
                                <p>《金创意奖-最具品牌价值设计机构奖》</p>
                                <p>《IDEA-TOPS艾特奖—别墅设计银奖》</p>
                                <p>《IDEA-TOPS艾特奖—样板间设计银奖》</p>
                                <p>《TDA最佳住宅公寓设计大奖》</p>
                                <p>《BEST100中国最佳设计100强 》</p>
                                <p>《SIDA新加坡室内设计大赛优秀奖》</p>
                            </div>
                        </div>
                    </div>
                    <div class="int-block int-block-mobile grid_reveal" data-av-animation="self_slide_up" data-index="5">
                        <div class="title sub_title grid_reveal" data-av-animation="self_slide_up">2018年</div>
                        <div class="text" style="margin-top:.53rem;">
                            <div class="deep_gray grid_reveal" data-av-animation="self_slide_up" style="margin-top:10px;">
                                <p>《CBDA2018年度软装设计影响力企业》</p>
                                <p>《法国双面神设计大奖》</p>
                                <p>《亚太桃鼎奖设计大奖》</p>
                                <p>《IDS国际设计先锋榜》</p>
                                <p>《华创奖》</p>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:15px;" class="grid_reveal ani_delay_3" data-av-animation="self_slide_up">
                        <div class="grid">
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <img src="./content/images/prize-1.jpg" alt="">
                            </div>
                            <div class="grid-item grid-item--full grid_reveal" data-av-animation="self_slide_up">
                                <img src="./content/images/prize-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer-box></footer-box>
    </div>
    <script type="text/javascript" src="./content/script/aniview.js"></script>
    <script type="text/javascript" src="./content/script/fastclick.js"></script>
    <script type="text/javascript" src="./content/script/jquery.mousewheel.min.js"></script>
    <script style="text/javascript" src="./content/script/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="./content/script/common.js"></script>
    <script type="text/javascript" src="./content/script/Vue-v2.6.10.js"></script>
    <script type="text/javascript" src="./content/script/dis/bundle.js"></script>
</body>

</html>